<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XBAutoLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1AB986A1FA6C2CC00F2FABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1AB98831FA6C2CC00F2FABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1AB988E1FA6C2CC00F2FABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
